<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2>Bienvenue sur {{ title }}</h2>
  
  <form  [formGroup]="myForm" class="form-group">
    <label >Choisir : </label>
  <select id="nbLettres" formControlName="selectNbLetter" class="form-control" (ngModelChange)="raz()">
    <option [value]="i" *ngFor="let i of items" >{{i}}</option>
  </select>
  <!--
  <input classe="form-control" formControlName="inputNbLetter"/>
    <p class="text-danger" *ngIf="myForm.get('inputNbLetter').hasError('required') && (myForm.submitted || myForm.get('inputNbLetter').dirty)">Required</p>
    <p class="text-danger" *ngIf="myForm.get('inputNbLetter').hasError('min') && (myForm.submitted || myForm.get('inputNbLetter').dirty)">min 1</p>
    <p class="text-danger" *ngIf="myForm.get('inputNbLetter').hasError('max') && (myForm.submitted || myForm.get('inputNbLetter').dirty)">max 26</p>
  -->
  <br>
  <button class="btn btn-primary" (click)="onSubmit()" type="submit">OK</button>
  
  <div *ngIf="(tabWords$ | async) as words;else loading">{{words | custompipe }}</div>
  
  <hr>
  <!-- 
  <label *ngFor="let word of (tabWords$ | async) ; else loading">{{word}}&nbsp;</label>
    <ul class="list-group row">
    <li  class="list-group-item col-md-6" *ngFor="let word of tabWords">{{word}}</li>
  </ul>
-->
</form>

<ng-template #loading>
    Loading stuff...
  </ng-template>

<!--<pre>{{myForm.value | json}}</pre>-->

